{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}

    <div class="container">
        <div class="mt-5 row justify-content-center text-center">
            <div class="col-6">
                <p class="h1">R&B Alfa Group</p>
                <p>Перейти к просмотру журналов и авторов <a href="{{ path('admin') }}">ссылка</a></p>
            </div>
        </div>
    </div>

{% endblock %}
